* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

.bottom-div {
  margin-top: 2vw;
}

.bottom-div h5 span {
  font-weight: 500;
  display: inline-block;
  font-size: 0.8vw;
  opacity: 0;
}

.bottom-div h5 {
  overflow: hidden;
  margin-bottom: 0.4vw;
}

.nav-part2 h5 {
  margin-bottom: 0.5vw;
  overflow: hidden;
  display: none;
  position: relative;
  z-index: 11;
}

.nav-part2 h5 span {
  font-size: 0.8vw;
  font-weight: 400;
  transform: translateY(100%);
  display: inline-block;
}

.moving-div .move img {
  display: block;
  height: 1vw;
  margin: 0 1vw;
  width: auto;
  flex: 0 0 auto;
  max-width: none;
  object-fit: contain;
}

@keyframes mobe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
}

.page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
}

.page6-elem:hover h3 {
  padding-left: 1vw;
}

.page6-elem:hover i {
  padding-right: 1vw;
}

.page6-elem:hover {
  border-top: 1px solid #fff;
}

summary::marker {
  content: "";
}

.btm8-part2 h4:nth-child(2) {
  transform: translateX(0);
}
.btm8-part2 h4:nth-child(3) {
  transform: translateX(10%);
}
.btm8-part2 h4:nth-child(4) {
  transform: translateX(20%);
}
.btm8-part2 h4:nth-child(5) {
  transform: translateX(30%);
}
.btm8-part2 h4:nth-child(6) {
  transform: translateX(40%);
}
.btm8-part2 h4:nth-child(7) {
  transform: translateX(50%);
}

.btm8-part3 h4:nth-child(2) {
  transform: translateX(0);
}
.btm8-part3 h4:nth-child(3) {
  transform: translateX(30%);
}

.btm8-part4 h4:nth-child(2) {
  transform: translateX(0);
}
.btm8-part4 h4:nth-child(3) {
  transform: translateX(30%);
}
.btm8-part4 h4:nth-child(4) {
  transform: translateX(50%);
}

#become-client {
  position: fixed;
  top: 15%;
  right: 10.5vw; /* same horizontal placement as before */
  z-index: 999;
}

.service-link {
  transition: color 0.3s ease;
}
.service-link:hover {
  color: #0ba34e;
}
