* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav:hover .nav-bottom {
  /* height: 150%;
  bottom: -150%;
  background-color: #111; */
}

.bottom-div {
  margin-top: 2vw;
}

.bottom-div h5 span {
  font-weight: 500;
  display: inline-block;
  font-size: 0.8vw;
  opacity: 0;
}

.bottom-div h5 {
  overflow: hidden;
  /* background-color: red; */
  margin-bottom: 0.4vw;
}

.nav-part2 h5 {
  margin-bottom: 0.5vw;
  /* background-color: red; */
  opacity: 0;
}

.nav-part2 h5 span {
  font-size: 0.8vw;
  font-weight: 400;
  display: inline-block;
}
